<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brevard Early Intervention Center</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/7b35a5e9c7.js" crossorigin="anonymous"></script>
</head>

<body>
    <div>

        <header class="header">
            <h5>Brevard Christian Early Intervention Center</h5>

            <ul class="header-list" id="header-nav">
                <li id="header-li-home">
                    <a href="" class="header-li">HOME</a>
                </li>
                <li id="header-li-about-us">
                    <a href="" class="header-li">ABOUT US</a>
                </li>
                <li id="header-li-staff">
                    <a href="" class="header-li">STAFF</a>
                </li>
                <li id="header-li-calendar">
                    <a href="" class="header-li">CALENDAR</a>
                </li>
                <li id="header-li-policies">
                    <a href="" class="header-li">POLICIES</a>
                </li>
                <li id="header-li-BEN">
                    <a href="" class="header-li">B.E.N.-FOR PARENTS!</a>
                </li>
                <li id="header-li-school-shop">
                    <a href="" class="header-li">SCHOOL SHOP</a>
                </li>
                <li id="header-li-contact-us">
                    <a href="" class="header-li">CONTACT US</a>
                </li>
                <div class="dropdown">
                    <div>
                        <li>
                            <a class="dropdown-btn header-nav">MORE ˅</a>
                        </li>
                    </div>
                    <div class="dropdown-content">
                        <li>
                            <a href="">B.E.N.-FOR PARENTS!</a>
                        </li>
                        <li>
                            <a href="./childEnrollment.html" class="header-li">ENROLL</a>
                        </li>
                        <li>
                            <a href="./emplolymentApplication.html">APPLY</a>
                        </li>
                        <li>
                            <a href="">SCHOOL SHOP</a>
                        </li>
                        <li>
                            <a href="">CONTACT US</a>
                        </li>
                    </div>

                </div>
                </li>
                </li>
            </ul>
        </header>

        <div class="jumbotron">
            <div class="jumbotron-pic">
                <img src="" alt="kid holding book picture">
            </div>
            <div class="jumbotron-info">
                <div class="x">
                    <p class="jumbotron-p">A NON-PROFIT SCHOOL</p>
                    <p class="jumbotron-p">FOR CHILDREN WITH</p>
                    <p class="jumbotron-p">SPECIAL NEEDS</p>
                    <button class="contact-us-btn">CONTACT US</button>
                </div>
            </div>
        </div>

        <div class="social-media-links">
            <a href="https://www.facebook.com/brevardchristianeic/"><img src="./images/icone_facebook_actif.png"
                    alt="facebook" width="50px"></a>
            <a href=""><img src="./images/icone_twitter_actif.png" alt="twitter" width="50px"></a>
            <a href="https://www.instagram.com/brevardchristianeic/"><img src="./images/12xp-instagram-jumbo.jpg"
                    alt="instagram"></a>

        </div>

        <div class="footer">
            <p>Copyright &copy; Brevard Christian Early Intervention Center - All Rights Reserved.</p>
        </div>

    </div>

    <script src="../js/script.js"></script>
</body>

</html>